- @title = 'BEAKER BUBBLES'
- @body_class = 'index'

.container
  .row
    .span12
      .beaker
        .bubble-1
        .bubble-2
        .bubble-3
        .bubble-4

  %hr/
  %footer
    %p beaker bubbles © lab2023